<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs">
                <li><a href="#!home">Home</a></li>
                <li><a href="#!plan1">Plan</a></li>
                <li><a href="#!prep1">Prepare</a></li>
                <li><a href="#!exec1">Execute</a></li>
            </ul>
            <div class="page-header">
                <h1>JIBJOBS</h1>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="#!home2">Home</a></li>
                    <li><a href="#!plan1">Plan</a></li>
                    <li><a href="#!prep1">Prepare</a></li>
                    <li><a href="#!exec1">Execute</a></li>
                </ul>
                <div class="jumbotron text-center" style="background: #f9f9f9; border: 1px solid #ccc; margin-top: 20px;">
                    <h1>JobLab!</h1>
                </div>
            </div>
        </div>
    </div>