<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Execute- Stage 1</h1>
<div>
    <a class="btn btn-primary" href="#!/exec2">Exec 2</a>
</div>
<p>Now it's time to put all of your preparation in to action.  Before you go applying to every job description on job boards and career sites, let's look at what hiring managers focus on and what makes one candidate stand out from the rest of the stack of resumes sitting on their desk.  Yes, when a hiring manager opens a position on their team, they frequently will get dozens of applicants or more which means they have to spend hours combing through resumes searching for one or two that spark their interest.  Most resumes don't get more than a passing glance before ending up in the trash.  
    
<p>Let's take a minute to jump in to the mind of a hiring manager and what drives them to a hiring decision.  Hiring managers have a set of deliverables the are responsible for and budget they are provided with to build a team and provide their team with the resources to accomplish those tasks.  </p>  



<!-- <ul>
    <li ng-repeat="hero in vm.heroes.list">
        <a ng-href="/#!/hero/{{hero.id}}">{{hero.name}}</a>
    </li>
</ul> -->

{{vm}}
        </div>
    </div>
</div>


