<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Execute- Step 1</h1>

<p>Now it's time to put all of your preparation in to action.  Before you go applying to every job description on job boards and career sites, let's look at what hiring managers focus on and what makes one candidate stand out from the rest of the stack of resumes sitting on their desk.  Yes, when a hiring manager opens a position on their team, they frequently will get dozens of applicants or more which means they have to spend hours combing through resumes searching for one or two that spark their interest.  Most resumes don't get more than a passing glance before ending up in the trash.  
    
<p>Let's take a minute to jump in to the mind of a hiring manager and what drives them to a hiring decision.  Hiring managers have a set of deliverables the are responsible for and budget they are provided with to build a team and provide their team with the resources to accomplish those tasks.  When they make a decision to add to their team, they are looking to find a resource who will be able to take as much weight off their shoulders as possible while also not eating up too much budget.  Your job right now is to show them you are that person.  You carry your weight and then some and you are well worth every penny.</p>  

        </div>
    </div>
</div>



