<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Execute- My Questions!</h1>
<div>
    <ul>
        <li>While I have a high level understanding of what the company does, will you please share more with me about how you and your team fit in to the organization?</li>
        <li>What are the greatest challenges your team faces in the coming months/years?</li>
        <li>Why have you chosen to add another team member?</li>
        <li>In what areas is your team struggling and/or needs the most support?</li>
        <li>What deliverable are you and your team responsible for?</li>
        <li>If you chose not to hire for this position, what would be the consequences?</li>
        <li>What is your plan for the next six months, year, five years? </li>
        <li>Have I answered all of your questions adequately, or would you like for me to clarify any points to you?</li>
    </ul>
</div>            
<div>
    <a class="btn btn-primary" href="#!/exec3">exec 3</a>
</div>

        </div>
    </div>
</div>


