
<div ng-include="'views/partials/header.html'"></div>
<style>
    .panel-primary .panel-heading a {
    color: #fff;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><strong><a href="#!/plan1">Create a Plan - Q and A</a></strong></div>

               
                <ul class="list-group">
                        <li class="list-group-item"><a href="#!/plan2">My Plan!</a></li>
                        <li class="list-group-item"><a href="#!/plan3">My Resume!</a></li>
                        <li class="list-group-item"><a href="#!/plan4">My Social Network!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong><a href="#!/prep1">Get Prepared!</a></strong></div>
    
                   
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#!/prep2">Activity Tracker</a></li>
                        <li class="list-group-item"><a href="#!/prep3">Company Locator</a></li>
                        <li class="list-group-item"><a href="#!/prep4">Do your homework!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong><a href="#!/exec1">Time to Execute!</a></strong></div>
    
                   
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#!/exec2">Who you need to know!</a></li>
                        <li class="list-group-item"><a href="#!/exec3">Recruiting firms, HR and more</a></li>
                        <li class="list-group-item"><a href="#!/exec4">What Hiring Managers want.</a></li>
                        <li class="list-group-item"><a href="#!/exec5">Nail the interview(s)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>