<div>
    <a href="#!/plan1">Create a plan- Q and A</a>
    <ul>
        <li><a href="#!/plan2">My Plan!</a></li>
        <li><a href="#!/plan3">My Resume!</a></li>
        <li><a href="#!/plan4">My Social Network!</a></li>
    </ul>
</div>
<div>
    <a href="#!/prep1">Get prepared!</a>
    <ul>
        <li><a href="#!/prep2">Activity Tracker</a></li>
        <li><a href="#!/prep3">Company Locator</a></li>
        <li><a href="#!/prep4">Do your homework!</a></li>
    </ul>
</div>
<div>
    <a href="#!/exec1">Time to execute!</a>
    <ul>
        <li><a href="#!/exec2">Who you need to know!</a></li>
        <li><a href="#!/exec3">Recruiting firms, HR and more</a></li>
        <li><a href="#!/exec4">What Hiring Managers want.</a></li>
        <li><a href="#!/exec5">Nail the interview(s)</a></li>
    </ul>
</div>