<h1>Plan- Stage 1</h1>
<!-- <div>
    <!-- <form>
        <label>What are your top 5 skills you would like to use in your next career?</label>
        <div><input type="text" name="5_skills" placeholder="Java, JavaScript, node.js, Express.js, splunking"></div>
        <label>Why are you looking for a new career opportunity?</label>
        <div><input type="text" name="Why_looking" placeholder="I am qualified and driven for a better opportunity than I am currently in"></div>
        <label>What job titles would you like to target?</label>
        <div><input type="text" name="titles1" placeholder="Developer, Designer, Plumber, Sports Agent"></div>
        <label>What other job titles might be a good fit, and are alternative titles for the career you are targeting?</label>
        <div><input type="text" name="titles 2" placeholder="Handyman, Driver, Programmer Analyst, Engineer"></div>
        <label>How comfortable are you with the overall process of finding and obtaining a great career?</label>
        <div><input type="text" name="comfort level" placeholder="I've got this, I need help, I'm totally lost"></div>
        <label>What are the five most important things you have in your next career?</label>
        <div><input type="text" name="most_important" placeholder="compensation, manager, location, PTO, title"></div>
          -->
    <!-- </form>
    <button data-ng-click="click('/plan2.html')"> Next!</button>
</div> --> 
{{vm.userAnswer}}

<body>
    <h1>Career search Q and A!!</h1>
    <div id="qAndA">
        <p>Why are you looking for a new job?</p>
        <input type="text" placeholder="Terrible commute, bad boss, long hours..."ng-model="vm.userAnswer.why">
        
        <p>What career titles are most applicable to your search?</p>
        <input type="text" id="q2Input" placeholder="Farmer, Engineer, Teacher, Engineer, Dog Walker..."ng-model="vm.userAnswer.what">
       
        <p>If it were completely up to you, where would you want to work?</p>
        <input type="text" id="q3Input" placeholder="Minneapolis, My Couch, California, Travelling..."ng-model="vm.userAnswer.where">
        
        <p>What are the 4-5 most important factors in your next job?</p>
        <input type="text" id="q4Input" placeholder="Compensation, Advancement Opportunities, Location..."ng-model="vm.userAnswer.factors">
      
        <p>What's obstacles are currently in your path</p>
        <input type="text" id="q5Input" placeholder="Insecurity, under contract, ..."ng-model="vm.userAnswer.obstacles">
        <button ng-click= "vm.addAnswer()" id="saveAnswerButton">Save</button>
    </div>
    <div id="messageContainer">
    </div>
</body>