<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Plan- Get ready to rumble!</h1>

<h2>Networking</h2>
<div>
    Six degrees of separation.  Someone you know will either hire you, or knows someone who can.  All you need to do is get out there and ask the right questions to get people talking which gets them curious about you and your interests. In the coming pages I will teach you how to make this process easier and even have fun doing it.
</div>
<h2>LinkedIN</h2>
<div>
    Hiring managers want to connect with you.  You have nothing to lose by asking them to a coffee.  Connect, but connect with a purpose and a plan.  Worst case scenario, they don't accept and you are in the same place as you were before.
</div>
<h2>Job Boards</h2>
<div>
    What you need to know about job boards and career pages.  Never take job descriptions at face value.  First of all, job descriptions are rarely written by the person who makes the hiring decisions.  Someone in HR typically gets a bit of information from the manager and pieces together a description based on a canned job posting they have recycled many times over the years for many different positions.  
</div>
<h2>About Preparation</h2>
<div>
    Hiring managers want to know that you are passionate about your craft, and you have also taken the time to learn more about what the company does from a macro level and you are very interested/excited about applying your skills in that environment.  This means you have to research the organization, background of the person you are speaking with, and asking educated and thoughtful questions during the process.
</div>

<div>
    <a class="btn btn-primary" href="#!/home2">home</a>
</div>

        </div>
    </div>
</div>


