<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Plan- Resume Builder</h1>

            
<button type="button" value="Upload" ng-click="vm.openPicker()">Upload</button>
{{ vm }}
<p>Click on the buttons inside the tabbed menu:</p>

<div class="tab">
  <button class="tablinks" onclick="openResume(resume, 'resumeFormat')">Basic Format</button>
  <button class="tablinks" onclick="openResume(resume, 'sample1')">Sample 1</button>
  <button class="tablinks" onclick="openResume(resume, 'sample2')">Sample 2</button>
  <button class="tablinks" onclick="openResume(resume, 'myResume')">My Resume</button>
</div>

<script>
function openResume(resume) {
    
    tabcontent = document.getElementsByClassName("tabcontent");
    
    tablinks = document.getElementsByClassName("tablinks");
    
    document.getElementById(resume) = "block";
}
</script>
     
     <div>
      <a class="btn btn-primary" href="#!/plan4">plan 4</a>
  </div>
  


        </div>
    </div>
</div>



