<h1>Plan 4</h1>
{{vm}}
<h2>Networking</h2>
<div>
    Six degrees of separation.  Someone you know will either hire you, or knows someone who can.  All you need to do is get out there and ask the right questions to get people talking which gets them curious about you and your interests.
</div>
<h2>LinkedIN</h2>
<div>
    Hiring managers want to connect with you.  You have nothing to lose by asking them to a coffee.  Connect.  Worst case scenario, they don't accept and you are in the same place.
</div>
<h2>Job Boards</h2>
<div>
    What to know about job boards, career pages, HR, and applying online.
</div>
<h2>About Preparation</h2>
<div>
    importance of doing homework on companies, avoiding taking no for an answer, job boards and real vs. fake job postings etc.
</div>

<div>
    <a href="#!/home">home</a>
</div>
