<div ng-include="'views/partials/header.html'"></div>
<div align= 'center' class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Plan- Stay focused.</h1>



<div>
    In today's career universe, there are a ton of tools, websites, recruiting materials and many more things that pull job seekers in many directions.  It is important to formulate a plan and focus your time and attention on accomplishing the goals you have set out to complete while minimizing wasted time and energy.  This document will help you stay the course and navigate the winding path of planning, preparing, and obtaining your next career.

    I feel now is the right time to begin my career search because {{vm.userResponse.item.q1input}}.  As I reflect on my background, skills, education, and most importantly the career I would like to pursue, I am going to target positions like {{vm.userResponse.item.q2input}}.  Ideally I would like my next job to be in a location such as: {{vm.userResponse.item.q3input}}.  Aside from the reasons I have decided to start my search, the following are a few of the most important qualities I will be seeking in my next career: {{vm.userResponse.item.q4input}}.  Additionally, I will be active in overcoming the obstacles({{vm.userResponse.item.q5input}}) currently impacting my career growth or transition to a new opportunity.


</div>

<div>
    <a class="btn btn-primary" href="#!/plan3">plan 3</a>
</div>

        </div>
    </div>
</div>



