<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Prepare- Stage 2</h1>

<div id="myTracker" class="container">
    <h2>My job search activity tracker</h2>
    <input type="text" id="companyInput" ng-model="vm.activity.company" placeholder="Company">
    <input type="text" id="jobInput" ng-model="vm.activity.job"placeholder="Job">
    <input type="text" id="dateinput" ng-model="vm.activity.date"placeholder="Date">
    <input type="text" id="contactInput" ng-model="vm.activity.contact"placeholder="Contact">
    <input type="text" id="next_stepsInput" ng-model="vm.activity.next_steps"placeholder="Next Steps">
    <input type="text" id="notesInput" ng-model="vm.activity.notes"placeholder="Notes">
    <button ng-click= "vm.addActivity(vm.activity)" class="addJobTracker">Add</button>
  </div>
<div id= "jobtracker">
  
</div>
<div class= 'container'>
  <body ng-controller="PrepController as vm">
    <div  class="trackerRow">
<p></p>
<p></p>
          <table>
              <tr ng-repeat="job in vm.activityTracker.list | orderBy : 'company'">
                <td>{{ job.company }}</td>
                <td>{{ job.job }}</td>
                <td>{{ job.date }}</td>
                <td>{{ job.contact }}</td>
                <td>{{ job.next_steps }}</td>
                <td>{{ job.next_steps }}</td>
              </tr>
            </table>
          </body>
        </div>
    <a class="btn btn-primary" href="#!/prep3">prep 3</a>
</div>
<!-- // {{vm.activityTracker.list}} -->
