<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Prepare- Todos</h1>
<!-- {{vm}} -->

<h3>Let's get start with some action items, a few insider tips, and a bit of homework to get yourself prepared.</h3>
<p><input type="checkbox" name="" value="">Scrub your social media of anything you wouldn't want your employer to see.</p>
<p><input type="checkbox" name="" value="">Post recommendations from previous employers on your LinkedIn account</p>
<p><input type="checkbox" name="" value="">Take a deep breath and understand this is a process that takes time.</p>
<p><input type="checkbox" name="" value="">When applying to a position, always be very thorough as applicants are often passed over for typos or missed information.</p>
<p><input type="checkbox" name="" value="">Error on the side of over applying even if you don't meet all or even most of the "requirements."</p>
<p><input type="checkbox" name="" value="">If you aren't excited about the positiono you are applying for, the company probably won't be excited about you.</p>
<p><input type="checkbox" name="" value="">Dress for the .</p>
<p><input type="checkbox" name="" value="">Clean up your social media of anything you wouldn't want your employer to see.</p>
<p><input type="checkbox" name="" value="">Clean up your social media of anything you wouldn't want your employer to see.</p>
<p><input type="checkbox" name="" value="">Clean up your social media of anything you wouldn't want your employer to see.</p>

<div>
    <a class="btn btn-primary" href="#!/prep2">prep 2</a>
</div>

        </div>
    </div>
</div>



