<h1>Prepare- Stage 2</h1>
{{vm}}
<div id="myTracker" class="tracker">
    <h2>My job search activity tracker</h2>
    <input type="text" id="companyInput" ng-model="vm.prep2.newCompany.company" placeholder="Company">
    <input type="text" id="jobInput" ng-model="vm.prep2.newJob.job"placeholder="Job">
    <input type="text" id="dateinput" ng-model="vm.prep2.newDate.date"placeholder="Date">
    <input type="text" id="contactInput" ng-model="vm.prep2.newContact.contact"placeholder="Contact">
    <input type="text" id="next_stepsInput" ng-model="vm.prep2.newNextStep.nextsteps"placeholder="Next Steps">
    <input type="text" id="notesInput" ng-model="vm.prep2.newNotes.notes"placeholder="Notes">
    <span onclick="newJobTracker()" class="addJobTracker">Add</span>
  </div>
  
  <ul id="myUL">
    <li>Company</li>
    <li>Job</li>
    <li>Date</li>
    <li>Contact</li>
    <li>Next Steps</li>
    <li>Notes</li>
  </ul>
  <div>
    <a href="#!/prep3">prep 3</a>
</div>
