<h1>Prepare- Stage 3</h1>

<h1>JOB LOCATINATOR!!</h1>
<div>
        <input type="text" placeholder="location" ng-model= 'vm.location'><button ng-click="vm.getCompanies()" type="text" id="getCompanies">search</button>
</div>

<div class= 'container'>
        <body ng-controller="PrepController as vm">
          <div ng-repeat="companies in vm.companies.list">
            <p class="compRow"><a ng-href='{{companies.website}}'>{{companies.name}}</a></p>
            
            </div>
        </body>
      </div>
<div>
        <a href="#!/prep4">prep 4</a>
</div>
