<div ng-include="'views/partials/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md 12">
            <h1>Prepare- Advice from a pro.</h1>
<!-- {{vm}} -->

<h3>Let's get start with some action items, a few insider tips, and a bit of homework to get yourself prepared.</h3>
<p><md-checkbox> </md-checkbox>  Scrub your social media of anything you wouldn't want your employer to see.</p>
<p><md-checkbox> </md-checkbox>     Post recommendations from previous employers on your LinkedIn account</p>
<p><md-checkbox> </md-checkbox>    Take a deep breath and understand this is a process that takes time.</p>
<p><md-checkbox> </md-checkbox>    When applying to a position, always be very thorough as applicants are often passed over for typos or missed information.</p>
<p><md-checkbox> </md-checkbox>     Error on the side of over applying even if you don't meet all or even most of the "requirements."</p>
<p><md-checkbox> </md-checkbox>    If you aren't excited about the positiono you are applying for, the company probably won't be excited about you.</p>
<p><md-checkbox> </md-checkbox>     Dress as if you are showing up for your first day of work and you have a lunch meeting with the CEO.</p>
<p><md-checkbox> </md-checkbox>     Read up on your audience, learn their background, and find common interests.</p>
<div>
    <a class="btn btn-primary" href="#!/prep2">Prepare 2</a>
</div>

        </div>
    </div>
</div>



