<h1>Prepare- Stage 2</h1>
{{vm.activity}}
<div id="myTracker" class="container">
    <h2>My job search activity tracker</h2>
    <input type="text" id="companyInput" ng-model="vm.activity.company" placeholder="Company">
    <input type="text" id="jobInput" ng-model="vm.activity.job"placeholder="Job">
    <input type="text" id="dateinput" ng-model="vm.activity.date"placeholder="Date">
    <input type="text" id="contactInput" ng-model="vm.activity.contact"placeholder="Contact">
    <input type="text" id="next_stepsInput" ng-model="vm.activity.nextsteps"placeholder="Next Steps">
    <input type="text" id="notesInput" ng-model="vm.activity.notes"placeholder="Notes">
    <button ng-click= "vm.addActivity()" class="addJobTracker">Add</button>
  </div>
<div id= "jobtracker">
  
</div>
<div class= 'container'>
  <body ng-controller="prep.controller">
    <tr ng-repeat="job in vm.jobTracker" class="trackerRow">
      <td class="compRow">{{job.company}}</td>
      <td class="jobRow">{{job.job}}</td>
      <td class="dateRow">{{job.date}}</td>
      <td class="contactRow">{{job.contact}}</td>
      <td class="nextStepsRow">{{job.nextsteps}}</td>
      <td class="notesRow">{{job.notes}}</td>
     
     
     
     
      <!-- <td class="petRowUpdate"><button class="petRowUpdateButton tableButton">Go</button></td>
      <td class="petRowDelete "><button class="petRowDeleteButton tableButton">Go</button></td>
      <td class="petRowCheckInOut"><button class="petRowCheckInOutButton tableButton">In</button></td> -->
  </tr>
  </body>
</div>


  
    <a href="#!/prep3">prep 3</a>
</div>
